{{- with .Title | default .Site.Title }}
<meta property="og:title" content="{{ . }}" />
{{- end }}
{{- with .Description | default .Params.subtitle | default .Summary }}
<meta property="og:description" content="{{ . }}">
{{- end }}
{{- if .Params.share_img }}
<meta property="og:image" content="{{ .Params.share_img | absURL }}" />
{{ else if .Params.image}}
<!--This modification here allows the url to be formed correctly for my use case.
The problem is that the URL to the image is otherwise relative and breaks.
-->
<meta property="og:image" content="{{ .Permalink }}/{{ .Params.image }}" />
{{ else }}
<meta property="og:image" content="{{ .Site.Params.logo | absURL }}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
